.namesBox{
    display: flex;
    flex-wrap: wrap;
}

.nameBox{
    border: black solid 1px;
    padding: 5px;
    margin: 5px;
    text-align: center;
}
.nameBox:hover{
    font-weight: bold;
    transition: ease-out 0.1s;
}
td{
    border: 1px solid black;
    padding: 15px;
}
table{
    margin: 1px auto;
}
.box{
    border: black solid 1px;
    padding: 15px;
    margin: 5px;
    max-width: 25%;
    flex-wrap: wrap;
}