body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    background-color: beige;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    box-shadow: 5px 10px 30px black;


}