body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menuBox{
    background-color: beige;
    display: flex;
    padding: 15px;
    

}

.circle{
    border-radius: 50%;
    background-color: black;
    width: 50px;
    height: 50px;
    margin: 5px;
    
}
.trafficLight{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menuButtons{
    display: flex;
    flex-direction: column;
    width: 50px;
    margin-top: 15px;
    padding: 15px;
    background-color: lightblue;
    width: 20%;
}
.menuText{
     display: flex;
    flex-direction: column;
    width: 50px;
    margin-top: 15px;
    padding: 15px;
    width: 50%;
    border: 2px solid lightblue;   
}
button{
    margin: 5px;
}
.task2Header{
    display: flex;
    align-items:flex-start;
}
.pointerBox{
    position: fixed;
}