.counterBtns{
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.counterMain{
    display: inline-flex;
    background-color: lightblue;
    padding: 20px;
    align-content: center;
    align-items: center;
    border-radius: 5px;
}
.imgLibrary{
    display: inline-flex;
    padding: 20px;
}
.box{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: antiquewhite;
}
.textWithColor{
    background-color: wheat;
    padding: 15px;
    border-radius: 15px;
    margin: 2%;
}
.boxes{
    background-color: aquamarine
}