.mainCard{
    align-items: center;
    width: 50%;
    margin: 5px auto;
    padding: 15px;
    border: black 5px solid;
}
.allCards{
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.header{
    display: flex;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.loginForm{
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.colorForm{
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.colorInputs{
    display: inline-flex;
}
.box{
    width: 30px;
    height: 30px;
    
}
.colorInfo{
    display: flex;
}
.colorText{
    vertical-align: center;
    border: 2px solid black;
    padding: 1.5px;
    margin-right: 10px;
}
.colors{
    display: flex;
    flex-wrap: wrap;
}